body,
p,
h1,
img,
nav,
li,
ul,
h2,
div {
  margin: 0;
  padding: 0;
}

.slides {
  background-color: darkgray;
  padding: 20px;
  display: grid;
  grid-auto-flow: column;
  min-height: 100px;
}

img {
  /* display: none; */
}
