body,
p,
h1,
img,
nav,
li,
ul,
h2,
div {
  margin: 0;
  padding: 0;
}

.carousel-element {
  position: absolute;
  top: calc(50% - 70px);
  left: calc(50% - 70px);
  width: 142px;
  overflow: hidden;
}

.slides {
  display: grid;
  grid-auto-flow: column;
}

img {
  margin: 20px;
}

.picture-frame {
  width: 140px;
  overflow: hidden;
  border: 1px solid;
}

.navigation-dots {
  display: grid;
  grid-auto-flow: row;
  justify-content: center;
  justify-items: center;
  overflow: auto;
  grid-template-columns: repeat(auto-fill, minmax(7px, 1fr));
  gap: 2px;
  max-width: 142px;
}

.navigation-dot {
  width: 5px;
  height: 5px;
  background-color: white;
  border: 1px solid;
  border-radius: 5px;
  cursor: pointer;
}

.navigation-dot[active='true'] {
  background-color: black;
}
