body,
p,
h1,
img,
nav,
li,
ul,
h2,
div {
  margin: 0;
  padding: 0;
}

.carousel-element {
  position: absolute;
  top: calc(50% - 70px);
  left: calc(50% - 70px);
}

.slides {
  display: grid;
  grid-auto-flow: column;
}

img {
  margin: 20px;
}

.picture-frame {
  width: 140px;
  overflow: scroll;
  border: 1px solid;
}